<html>
    <head>

    </head>
    <body>
        <form>
            <label for="date">Date:</label><br>
            <input type="text" id="date" name="date"><br>
            <label for="time">Time:</label><br>
            <input type="text" id="time" name="time">
            <label for="disease">Disease:</label><br>
            <input type="text" id="disease" name="disease">
            <label for="medicine">Medicine:</label><br>
            <input type="text" id="medicine" name="medicine">
            <input type="submit" value="Submit">
          </form>
          
    </body>
</html>